<div class="max-w-4xl w-full bg-white rounded-xl shadow-lg p-8">
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-2xl font-bold text-gray-800">تحلیل معاملات</h1>
  </div>
  <div class="space-y-8">
    <div class="grid gap-6">
      @for (item of dataProfit; track $index) {
      <!-- <div class="bg-white rounded-lg shadow-sm">
        <div class="px-4 py-3 bg-blue-50 rounded-t-lg border-b border-blue-100">
          <h3 class="text-lg font-medium text-blue-800">درهم</h3>
        </div>
        <div class="p-4">
          <div class="grid grid-cols-2 gap-4">
            <div class="space-y-2">
              <label class="block text-sm font-medium text-gray-700"
                >نرخ خرید درهم</label
              ><input
                type="text"
                inputmode="decimal"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent text-left"
                placeholder="مثال: 19500"
                dir="ltr"
                value=""
              />
            </div>
            <div class="space-y-2">
              <label class="block text-sm font-medium text-gray-700"
                >نرخ فروش درهم</label
              ><input
                type="text"
                inputmode="decimal"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent text-left"
                placeholder="مثال: 19700"
                dir="ltr"
                value=""
              />
            </div>
          </div>
        </div>
      </div> -->
      <div class="bg-white rounded-lg shadow-sm">
        <div class="px-4 py-3 bg-gray-50 rounded-t-lg border-b border-gray-100">
          <h3 class="text-lg font-medium text-gray-800">{{ item.name }}</h3>
        </div>
        <div class="p-4">
          <div class="grid grid-cols-1 gap-6">
            @for (item1 of item.cities; track $index) {
            <div>
              <h4 class="text-sm font-medium text-gray-700 mb-3">
                {{ item1.name }}
              </h4>
              <div class="grid grid-cols-2 gap-4">
                <div class="space-y-2">
                  <label class="block text-sm font-medium text-gray-700"
                    >نرخ خرید {{ item.name }}</label
                  ><input
                    type="number"
                    inputmode="decimal"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent text-left"
                    dir="ltr"
                    [(ngModel)]="item1.buy"
                  />
                </div>
                <div class="space-y-2">
                  <label class="block text-sm font-medium text-gray-700"
                    >نرخ فروش {{ item.name }}</label
                  ><input
                    type="number"
                    inputmode="decimal"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent text-left"
                    dir="ltr"
                    [(ngModel)]="item1.sell"
                  />
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>

      }
    </div>
    <button
      class="w-full py-3 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors"
      (click)="bestDeal()"
    >
      تحلیل فرصت‌های معاملاتی
    </button>
  </div>
  @if(false){

  <div class="mt-8 p-4 bg-gray-50 rounded-lg text-center text-gray-600">
    هیچ فرصت معاملاتی سودآوری یافت نشد
  </div>
  }@else if(true){
  <div class="mt-8 space-y-6">
    <h2 class="text-xl font-semibold text-gray-800">
      فرصت‌های معاملاتی (3 مورد)
    </h2>
    <div class="grid gap-4">
      @for (item of deals1; track $index) {
      <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
        <div class="flex items-center justify-between mb-3">
          <div class="text-lg font-medium text-gray-800">مراحل معامله:</div>
          <div class="text-left">
            <div class="text-lg font-bold text-green-600">
              {{ item.profit | number : "1.2-2" }}٪
            </div>
            <div class="text-sm text-green-600">
              {{ item.telorance|number:'1.2-2' }} تومان به ازای هر درهم
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">1.</span>خرید درهم به نرخ
            {{ item.Derhamprice }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">2.</span>تبدیل به
            {{ item.name1 }} با نرخ {{ item.rate1 }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">3.</span>نرخ مؤثر {{ item.name1 }}:
            {{ item.Finalprice | number : "1.2-2" }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">4.</span>فروش {{ item.name1 }} به
            نرخ {{ item.Sellprice }}
          </div>
        </div>
      </div>
      } @for (item of deals2; track $index) {
      <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
        <div class="flex items-center justify-between mb-3">
          <div class="text-lg font-medium text-gray-800">مراحل معامله:</div>
          <div class="text-left">
            <div class="text-lg font-bold text-green-600">
              {{ item.profit | number : "1.2-2" }}٪
            </div>
            <div class="text-sm text-green-600">
              {{ item.telorance | number : "1.2-2" }} تومان به ازای هر
              {{ item.name1 }}
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">1.</span>خرید {{ item.name1 }} به
            نرخ {{ item.currencyPrice }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">2.</span>تبدیل به درهم با نرخ
            {{ item.rate1 }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">3.</span>نرخ مؤثر درهم:
            {{ item.Finalprice | number : "1.2-2" }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">4.</span>فروش درهم به نرخ
            {{ item.DerhamSellprice }}
          </div>
        </div>
      </div>
      }
      @if(deals3){
        @for (item of deals3; track $index) {
      <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
        <div class="flex items-center justify-between mb-3">
          <div class="text-lg font-medium text-gray-800">مراحل معامله:</div>
          <div class="text-left">
            <div class="text-lg font-bold text-green-600">{{item.profit1 |number:'1.2-2'}}٪</div>
            <div class="text-sm text-green-600">
              {{item.tlorance1 |number:'1.2-2'}} تومان به ازای هر {{item.currencyName2}}
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">1.</span>خرید {{item.currencyName1}} به نرخ {{item.currencyBuyPrice1}}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">2.</span>تبدیل به درهم با نرخ {{item.currencyRate1}}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">3.</span>نرخ مؤثر درهم: {{item.derhamPrice|number:'1.2-2'}}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">4.</span>تبدیل به {{item.currencyName2}} با
            نرخ {{item.currencyRate2}}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">5.</span>نرخ مؤثر {{item.currencyName2}}:
            {{item.currencyFinalPrice2|number:'1.2-2'}}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">6.</span>فروش {{item.currencyName2}} به نرخ {{item.currencySellPrice2}}
          </div>
        </div>
      </div>
    }}
      <!-- <div class="p-4 rounded-lg bg-blue-50 border border-blue-100">
        <div class="flex items-center justify-between mb-3">
          <div class="text-lg font-medium text-gray-800">مراحل معامله:</div>
          <div class="text-left">
            <div class="text-lg font-bold text-green-600">1.61٪</div>
            <div class="text-sm text-green-600">
              1,148.25 تومان به ازای هر دلار آمریکا
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">1.</span>خرید دلار آمریکا به نرخ
            71,200 در tehran
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">2.</span>تبدیل به درهم با نرخ
            3.6725
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">3.</span>نرخ مؤثر درهم: 19,387.338
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">4.</span>فروش درهم به نرخ 19,700
          </div>
        </div>
      </div> -->
      @for (item of deals; track $index) {
      <div class="p-4 rounded-lg bg-green-50 border border-green-100">
        <div class="flex items-center justify-between mb-3">
          <div class="text-lg font-medium text-gray-800">مراحل معامله:</div>
          <div class="text-left">
            <div class="text-lg font-bold text-green-600">
              {{ item.profit | number : "1.2-2" }}٪
            </div>
            <div class="text-sm text-green-600">
              {{ item.tlorance }} تومان به ازای هر {{ item.name }}
            </div>
          </div>
        </div>
        <div class="space-y-2">
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">1.</span>خرید {{ item.name }} به
            نرخ {{ item.coin.buy }}
          </div>
          <div class="flex items-center text-gray-700">
            <span class="ml-2 text-blue-500">2.</span>فروش {{ item.name }} به
            نرخ {{ item.coin.sell }}
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
