<div
  class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100 flex flex-col items-center justify-center p-4 font-[vazirmatn]"
>
  <div class="mb-4 bg-white rounded-lg p-1 shadow-sm">
    <div class="flex items-center space-x-1 rtl:space-x-reverse">
      <button (click)="navigateToCurrency()"
      [ngClass]="{' bg-blue-100 text-blue-800': active == 1}"
      class="px-4 py-2 rounded-md transition-colors  text-gray-600 hover:bg-gray-100"
      >
      درهم به ارز
    </button>
    <button (click)="navigateToReverse()"
    [ngClass]="{' bg-blue-100 text-blue-800':  active == 2}"
    class="px-4 py-2 rounded-md transition-colors text-gray-600 hover:bg-gray-100"
    >
    ارز به درهم
  </button>
  <button (click)="navigateToTargetRate()"
  [ngClass]="{' bg-blue-100 text-blue-800':  active == 3}"
  class="px-4 py-2 rounded-md transition-colors text-gray-600 hover:bg-gray-100"
  >
  محاسبه نرخ درهم
</button>
<button (click)="navigateToTrade()"
[ngClass]="{' bg-blue-100 text-blue-800':  active == 4}"
        class="px-4 py-2 rounded-md transition-colors text-gray-600 hover:bg-gray-100"
      >
        تحلیل معاملات
      </button>
      <div class="mr-2">
        <div class="relative">
          <button
            class="p-2 text-gray-600 hover:text-gray-800 transition-colors"
            title="مدیریت نسخه‌ها"
            (click)="versionToggle()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-history w-6 h-6"
            >
              <path
                d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"
              ></path>
              <path d="M3 3v5h5"></path>
              <path d="M12 7v5l4 2"></path>
            </svg>
          </button>
@if(versionShow){

  <app-version-control/>
}
        </div>
      </div>
    </div>
  </div>
  <div class="min-w-[896px]">
  <router-outlet /></div>
</div>
